<!--frontend/finanzas-app/src/app/pages/transactions/transactions.component.html -->
<div class="page-container">
    <h2 class="page-title">Transacciones</h2>

    <div class="container">
        <!-- Formulario -->
        <div class="form-col">
            <div class="card form-card">
                <div class="form-field">
                    <label for="userId">ID Usuario</label>
                    <input id="userId" [(ngModel)]="userId" placeholder="ID Usuario">
                </div>
                <div class="form-field">
                    <label for="categoryId">ID Categoría</label>
                    <input id="categoryId" [(ngModel)]="categoryId" placeholder="ID Categoría">
                </div>
                <div class="form-field">
                    <label for="amount">Cantidad</label>
                    <input id="amount" type="number" [(ngModel)]="amount" placeholder="Cantidad">
                </div>
                <div class="form-field">
                    <label for="description">Descripción</label>
                    <input id="description" [(ngModel)]="description" placeholder="Descripción">
                </div>

                <button class="button" (click)="submitForm()">
                    {{ currentTransactionId ? 'Actualizar' : 'Añadir' }}
                </button>
            </div>
        </div>

        <!-- Tabla -->
        <div class="table-col">
            <div class="table-card">
                <div class="table-wrapper">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Usuario</th>
                                <th>Categoría</th>
                                <th>Monto</th>
                                <th>Descripción</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let transaction of transactions">
                                <td>{{ transaction.user_id }}</td>
                                <td>{{ transaction.category_id }}</td>
                                <td>{{ transaction.amount }}</td>
                                <td>{{ transaction.description }}</td>
                                <td>
                                    <button class="icon-button edit-button" (click)="editTransaction(transaction)">
                                        <i class="fas fa-pencil-alt"></i>
                                    </button>
                                    <button class="icon-button delete-button"
                                        (click)="deleteTransaction(transaction.id)">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>