<div class="page-container">
    <h2 class="page-title">Transacciones</h2>

    <div class="container">
        <!-- Formulario -->
        <div class="form-col">
            <div class="card form-card">
                <div class="form-field">
                    <label for="user">Usuario</label>
                    <input id="user" [(ngModel)]="userId" placeholder="ID Usuario" />
                </div>
                <div class="form-field">
                    <label for="category">Categoría</label>
                    <input id="category" [(ngModel)]="categoryId" placeholder="ID Categoría" />
                </div>
                <div class="form-field">
                    <label for="amount">Cantidad</label>
                    <input id="amount" type="number" [(ngModel)]="amount" placeholder="Cantidad" />
                </div>
                <div class="form-field">
                    <label for="description">Descripción</label>
                    <input id="description" [(ngModel)]="description" placeholder="Descripción" />
                </div>
                <div class="form-field">
                    <label for="date">Fecha</label>
                    <input id="date" type="date" [(ngModel)]="date" placeholder="Fecha" />
                </div>
                <div class="form-buttons">
                    <button *ngIf="currentTransactionId" class="button cancel-button"
                        (click)="resetForm()">Cancelar</button>
                    <button class="button" (click)="submitForm()">
                        {{ currentTransactionId ? 'Actualizar' : 'Añadir' }}
                    </button>
                </div>
            </div>
        </div>

        <!-- Tabla -->
        <div class="table-col">
            <div class="table-card">
                <div class="table-wrapper">
                    <div class="table-caption">
                        <button class="button" (click)="clearFilters()">Quitar filtros</button>
                        <div class="search-container">
                            <input type="text" placeholder="Buscar..." (input)="filterGlobal($event)" />
                        </div>
                    </div>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Usuario
                                    <div class="icon-group">
                                        <button class="filter-icon" (click)="toggleFilter('user_id')">
                                            <i
                                                class="{{ filters.user_id.value ? 'bi bi-funnel-fill' : 'bi bi-funnel' }}"></i>
                                        </button>
                                        <button class="sort-icon" (click)="toggleSort('user_id')">
                                            <i [ngClass]="{
            'bi bi-arrow-down-up': !filters.user_id.sortDirection,
            'bi bi-sort-up': filters.user_id.sortDirection === 'asc',
            'bi bi-sort-down': filters.user_id.sortDirection === 'desc'
          }"></i>
                                        </button>
                                    </div>
                                    <div *ngIf="activeFilter === 'user_id'" class="filter-overlay">
                                        <select [(ngModel)]="tempFilters.user_id.matchMode">
                                            <option value="all">Coincidir todos</option>
                                            <option value="any">Coincidir cualquiera</option>
                                        </select>
                                        <select [(ngModel)]="tempFilters.user_id.mode">
                                            <option value="contains">Contiene</option>
                                            <option value="startsWith">Comienza con</option>
                                            <option value="endsWith">Termina con</option>
                                            <option value="equals">Igual a</option>
                                        </select>
                                        <input type="text" [(ngModel)]="tempFilters.user_id.value"
                                            placeholder="Filtrar usuario" />
                                        <div class="filter-buttons">
                                            <button class="button cancel-button"
                                                (click)="cancelFilter()">Cancelar</button>
                                            <button class="button" (click)="applyFilter()">Aplicar</button>
                                        </div>
                                    </div>
                                </th>

                                <th>
                                    Categoría
                                    <div class="icon-group">
                                        <button class="filter-icon" (click)="toggleFilter('category_id')">
                                            <i
                                                class="{{ filters.category_id.value ? 'bi bi-funnel-fill' : 'bi bi-funnel' }}"></i>
                                        </button>
                                        <button class="sort-icon" (click)="toggleSort('category_id')">
                                            <i [ngClass]="{
            'bi bi-arrow-down-up': !filters.category_id.sortDirection,
            'bi bi-sort-up': filters.category_id.sortDirection === 'asc',
            'bi bi-sort-down': filters.category_id.sortDirection === 'desc'
          }"></i>
                                        </button>
                                    </div>
                                    <div *ngIf="activeFilter === 'category_id'" class="filter-overlay">
                                        <select [(ngModel)]="tempFilters.category_id.matchMode">
                                            <option value="all">Coincidir todos</option>
                                            <option value="any">Coincidir cualquiera</option>
                                        </select>
                                        <select [(ngModel)]="tempFilters.category_id.mode">
                                            <option value="contains">Contiene</option>
                                            <option value="startsWith">Comienza con</option>
                                            <option value="endsWith">Termina con</option>
                                            <option value="equals">Igual a</option>
                                        </select>
                                        <input type="text" [(ngModel)]="tempFilters.category_id.value"
                                            placeholder="Filtrar categoría" />
                                        <div class="filter-buttons">
                                            <button class="button cancel-button"
                                                (click)="cancelFilter()">Cancelar</button>
                                            <button class="button" (click)="applyFilter()">Aplicar</button>
                                        </div>
                                    </div>
                                </th>

                                <th>
                                    Cantidad
                                    <div class="icon-group">
                                        <button class="filter-icon" (click)="toggleFilter('amount')">
                                            <i
                                                class="{{ (filters.amount.min || filters.amount.max) ? 'bi bi-funnel-fill' : 'bi bi-funnel' }}"></i>
                                        </button>
                                        <button class="sort-icon" (click)="toggleSort('amount')">
                                            <i [ngClass]="{
            'bi bi-arrow-down-up': !filters.amount.sortDirection,
            'bi bi-sort-up': filters.amount.sortDirection === 'asc',
            'bi bi-sort-down': filters.amount.sortDirection === 'desc'
          }"></i>
                                        </button>
                                    </div>
                                    <div *ngIf="activeFilter === 'amount'" class="filter-overlay">
                                        <input type="number" [(ngModel)]="tempFilters.amount.min"
                                            placeholder="Mínimo" />
                                        <input type="number" [(ngModel)]="tempFilters.amount.max"
                                            placeholder="Máximo" />
                                        <div class="filter-buttons">
                                            <button class="button cancel-button"
                                                (click)="cancelFilter()">Cancelar</button>
                                            <button class="button" (click)="applyFilter()">Aplicar</button>
                                        </div>
                                    </div>
                                </th>

                                <th>
                                    Descripción
                                    <div class="icon-group">
                                        <button class="filter-icon" (click)="toggleFilter('description')">
                                            <i
                                                class="{{ filters.description.value ? 'bi bi-funnel-fill' : 'bi bi-funnel' }}"></i>
                                        </button>
                                        <button class="sort-icon" (click)="toggleSort('description')">
                                            <i [ngClass]="{
            'bi bi-arrow-down-up': !filters.description.sortDirection,
            'bi bi-sort-up': filters.description.sortDirection === 'asc',
            'bi bi-sort-down': filters.description.sortDirection === 'desc'
          }"></i>
                                        </button>
                                    </div>
                                    <div *ngIf="activeFilter === 'description'" class="filter-overlay">
                                        <select [(ngModel)]="tempFilters.description.matchMode">
                                            <option value="all">Coincidir todos</option>
                                            <option value="any">Coincidir cualquiera</option>
                                        </select>
                                        <select [(ngModel)]="tempFilters.description.mode">
                                            <option value="contains">Contiene</option>
                                            <option value="startsWith">Comienza con</option>
                                            <option value="endsWith">Termina con</option>
                                            <option value="equals">Igual a</option>
                                        </select>
                                        <input type="text" [(ngModel)]="tempFilters.description.value"
                                            placeholder="Filtrar descripción" />
                                        <div class="filter-buttons">
                                            <button class="button cancel-button"
                                                (click)="cancelFilter()">Cancelar</button>
                                            <button class="button" (click)="applyFilter()">Aplicar</button>
                                        </div>
                                    </div>
                                </th>

                                <th>
                                    Fecha
                                    <div class="icon-group">
                                        <button class="filter-icon" (click)="toggleFilter('date')">
                                            <i
                                                class="{{ (filters.date.start || filters.date.end) ? 'bi bi-funnel-fill' : 'bi bi-funnel' }}"></i>
                                        </button>
                                        <button class="sort-icon" (click)="toggleSort('date')">
                                            <i [ngClass]="{
            'bi bi-arrow-down-up': !filters.date.sortDirection,
            'bi bi-sort-up': filters.date.sortDirection === 'asc',
            'bi bi-sort-down': filters.date.sortDirection === 'desc'
          }"></i>
                                        </button>
                                    </div>
                                    <div *ngIf="activeFilter === 'date'" class="filter-overlay">
                                        <input type="date" [(ngModel)]="tempFilters.date.start" placeholder="Desde" />
                                        <input type="date" [(ngModel)]="tempFilters.date.end" placeholder="Hasta" />
                                        <div class="filter-buttons">
                                            <button class="button cancel-button"
                                                (click)="cancelFilter()">Cancelar</button>
                                            <button class="button" (click)="applyFilter()">Aplicar</button>
                                        </div>
                                    </div>
                                </th>

                                <th>Acciones</th>
                            </tr>
                        </thead>



                        <tbody>
                            <tr *ngFor="let tx of pagedTransactions">
                                <td>{{ tx.user_id }}</td>
                                <td>{{ tx.category_id }}</td>
                                <td>{{ tx.amount }}</td>
                                <td>{{ tx.description }}</td>
                                <td>{{ tx.date | date: 'dd/MM/yyyy' }}</td>
                                <td>
                                    <button class="icon-button edit-button" (click)="editTransaction(tx)">
                                        <i class="bi bi-pencil-fill"></i>
                                    </button>
                                    <button class="icon-button delete-button" (click)="handleDeleteClick(tx)">
                                        <i class="bi bi-trash-fill"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr *ngIf="filteredTransactions.length === 0">
                                <td colspan="6">No se encontraron transacciones.</td>
                            </tr>
                        </tbody>
                    </table>

                    <app-pagination [totalItems]="filteredTransactions.length" [pageSize]="pageSize"
                        [currentPage]="currentPage" (pageChange)="currentPage = $event; updatePagedTransactions()"
                        (pageSizeChange)="pageSize = $event; updatePagedTransactions()"></app-pagination>
                </div>
            </div>
        </div>

        <!-- Modal de confirmación -->
        <div class="modal-backdrop" *ngIf="showDeleteModal">
            <div class="modal">
                <h3>Confirmar eliminación</h3>
                <p>
                    ¿Seguro que deseas eliminar la transacción
                    <strong>{{ transactionToDelete?.description }}</strong>?
                </p>
                <div class="modal-buttons">
                    <button class="button cancel-button" (click)="closeDeleteModal()">Cancelar</button>
                    <button class="button delete-button" (click)="confirmDelete()">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</div>