<!--frontend/finanzas-app/src/app/pages/categories/categories.component.html -->
<div class="page-container">
    <h2 class="page-title">Categorías</h2>

    <div class="container">
        <!-- Formulario -->
        <div class="form-col">
            <div class="card form-card">
                <div class="form-field">
                    <label for="name">Nombre</label>
                    <input id="name" [(ngModel)]="name" placeholder="Nombre">
                </div>
                <div class="form-field">
                    <label for="description">Descripción</label>
                    <input id="description" [(ngModel)]="description" placeholder="Descripción">
                </div>
                <button class="button" (click)="submitForm()">
                    {{ currentCategoryId ? 'Actualizar' : 'Añadir' }}
                </button>
            </div>
        </div>

        <!-- Tabla -->
        <div class="table-col">
            <div class="table-card">
                <div class="table-wrapper">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let category of categories">
                                <td>{{ category.name }}</td>
                                <td>{{ category.description }}</td>
                                <td>
                                    <button class="icon-button edit-button" (click)="editCategory(category)">
                                        <i class="bi bi-pencil-fill"></i>
                                    </button>
                                    <button class="icon-button delete-button" (click)="deleteCategory(category.id)">
                                        <i class="bi bi-trash-fill"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>